* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: flex-end;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    /* Removes default padding */
    margin: 0;
    /* Removes default margin */
}

.slide-apply {
    background-color: #fafafa;
}

.slide-team {
    background-color: #608245;
}

.slide-chatbot {
    background-color: #172526;
}

.slide-testimonials {
    background-color: #fafafa;
    position: relative;
    /* For positioning the arrows absolutely */
}

.slide-testimonials .container-fluid {
    min-height: 40vh;
    /* Ensures the container fills atleast 40% */
}

.slide-testimonials .row {
    align-items: flex-start;
}

.slide-faq {
    background-color: #447e9b;
}

.slide-faq .container-fluid {
    min-height: 40vh;
    /* Ensures the container fills atleast 40% */
}

.slide-faq .row {
    align-items: flex-start;
}


.slide-about ul {
    text-align:left;
}

.slide-about .stretch-row {
    align-items: flex-start;
}

.slide-donate {
    background-color: #447e9b;
}

.slide-contact {
    background-color: #002F6C;
}

.container-fluid {
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 5em;
    margin-bottom: 3em;
}



.contact-container {
    width: 100%;
    margin-bottom: 2rem;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
}



.scroll-container-wrapper {
    position: relative;
    width: 100%;
    /* Adjust width to account for arrow space */
    overflow: hidden;
    margin: 0 auto;
    /* Center the container */
}

.scroll-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.text-box-group {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    /* Width of each group */
    gap: 10px;
    padding: 10px;
}

.stretch-row {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-flex;              /* Flexbox to center content */
    justify-content: center;           /* Center horizontally */
    align-items: center;               /* Center vertically */
    color: black;                       /* Color of the arrow */
    font-size: 3em;                   /* Size of the arrow */
    cursor: pointer;                   /* Show a pointer on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    margin-inline: 2em;
}

.arrow:hover {
    background-color: #bbb;            /* Darken background on hover */
}

.arrow-left {
    left: 1rem;
    /* Position arrow to the left */
}

.arrow-right {
    right: 1rem;
    /* Position arrow to the right */
}


.header{
    border-bottom: 3px solid #dedede;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
    background-color: #fafafa;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 0px;
    z-index: 100;
}

.nav-item {
    margin-left: 2vw;;
}

.nav-link{
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
    padding-right: 30px;
    padding-left: 20px;
    font-weight: bold;
}

.nav-button {
    box-sizing: border-box;
    border: 1px solid transparent;
    color: #fff;
    cursor: pointer;
    align-items: center;
    line-height: 1.25;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #007EFC;
    box-shadow: 4px 4px 4px #E9DECB;
    border-radius: 5px 0 0 0;
    margin-right: 2vw;
    padding: 0.4em 1em 0.5em 1em;
    min-width: 6em;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
}

.nav-button-layout {
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: normal;
    color: #002F6C;
    text-rendering: optimizeSpeed;
    box-sizing: border-box;
    right: 40px;
    display: flex;
    align-items: center; 
}

.hero-wrap {
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: normal;
    color: #002F6C;
    text-rendering: optimizeSpeed;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    z-index: inherit;
    position: relative;
    background: #002F6C;
    height: 380px;
}

.hero-photo {
    width: 55%;
    height: 100%;
}

.hero-photo img {
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: normal;
    color: #002F6C;
    text-rendering: optimizeSpeed;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 300ms;
    margin: auto;
    max-width: 820px;
    background: center / cover no-repeat;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px;
}

.hero-content {
    z-index: 1;
    width: 45%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;;
    color: #FFF9EF;
    position: relative;
    padding-bottom: 20px;
}

.hero-content a {
    font-weight: 400;
    letter-spacing: normal;
    text-rendering: optimizeSpeed;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    border-bottom: solid 3px #FF0E08;
    line-height: 2;
    transition: color 400ms ease-in-out;
    display: inline-block;
    padding-right: 0;
    color: #FFF9EF;
}
 
.hero-content-heading {
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.hero-content-subheading {
    padding-bottom: 30px;
}

.hero-bg {
    clip-path: polygon(54% 0%, 100% 0%, 100% 100%, 46% 100%);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #002F6C;
    position: absolute;
}

.hero-arrow {
    padding-right: 0;
    padding: 5px 25px;
    position: relative;
    display: inline-block;
}

.hero-arrow img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    max-width: 100%;
    width: 28px;
    transform: translate(-50%, -50%);
    padding: 0px;
    fill:white;
}


@media only screen and (min-width: 960px) {
    .hero-wrap {
        height: 580px;
    }
    .hero-content {
        padding-bottom: 100px;
        padding-right: 15vw;
    }

    .hero-bg {
        clip-path: polygon(68% 0%, 100% 0%, 100% 100%, 62% 100%);
    }

    .hero-content-subheading {
        padding-bottom: 80px;
    }

}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-logo {
        padding-right: 10px;
        padding-left: 0px;
    }

    .nav-button {
        font-size: 14px
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .container-fluid {
        /* Ensures the container fills atleast 60% */
        margin-left: 2em;
        margin-right: 2em;
    }
}

.contact-heading {
    font-weight: bold;
    text-decoration: underline;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}