* {
    font-synthesis: none;
    font-kerning: none;
    font-variant-ligatures: none;
    font-feature-settings: "kern" 0, "calt" 0, "liga" 0, "clig" 0, "dlig" 0, "hlig" 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: geometricprecision;
    white-space: normal;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 2rem;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}

h3, p {
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 1rem;
}

li {
    font-size: 24px;
    list-style: none;
}

a {
    text-decoration: none;
}

.nav-link {
    font-size: 24px;
    font-weight: bold;
}

.btn {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 4rem;
    padding: 0.75rem 1.5rem;
    margin-right: 1rem;
}

.client-banner {
    text-align: center;
}

.client-name {
    color: darkblue; 
    margin: 20px;
}

.text-box {
    color: #646464;
    text-align: left;
    padding: 1.5rem;
    background-color: white;
    border-radius: 1rem;
    margin: 1rem;
    border: lightgrey solid 3px;
    font-size: 24px;
    font-style: italic;
}

.contact-item {
    margin-bottom: 20px;
    color: black;
}

.contact-heading {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.business-hours {
    list-style-type: none;
    padding: 0;
}

.slide-about ul {
    margin-left: 60px;
    margin-bottom: 4rem;
}

.slide-about h2 {
    margin-left: 60px;
    margin-bottom: 4rem;
}


@media only screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2, h3, p, li {
        font-size: 16px;
    }

    .btn {
        font-size: 16px;
        font-weight: normal;
        text-align: center;
    }

    .text-box {
        font-size: 16px;
    }
}

.slide-chatbot h2{
    text-align: center;
}

.contact-item h3 {
    margin-bottom: 8px;
}

.business-hours li {
    color: black;
    margin-bottom: 5px;
}

.contact-item p {
    margin: 0;
}